.activeTestContainer {
  z-index: 1;
  margin: auto;
  min-height: 100vh;
  transition: 1s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.questionGroup {
  transition: 1s all ease;
}

.questionTab {
  transition: 1s all ease;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.questionName {
  text-align: center;
}

.testCard {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  width: 900px;
  transition: 1s all ease;
}

:host ::ng-deep .spinner {
  stroke: #ffffff;
  color: #ffffff;
}

@media screen and (min-width: 1400px) {
  .testCard {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%;
    transition: 1s all ease;
  }
}
@media screen and (min-width: 1024px) {
  .testCard {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 70%;
    transition: 1s all ease;
  }
}

mat-card-content {
  font-size: 16px;
  margin-top: 15px;
  transition: 1s all ease;
}

.centerHeading {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.userFormFields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.testBtn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mat-form-field {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.userForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.file-input {
  display: none;
}

.tabContent {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.tabItem {
  margin-top: 30px;
}

/*                             */

.uploadSubmit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.uploadBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
}

/*                             */

.timeFinish {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.countdown {
  margin-bottom: 20px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
}

.finishBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media screen and (min-width: 904px) {
  .userForm {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .userFormFields {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 16;
  }

  .testBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
  }

  .mat-form-field {
    text-align: center;
    margin-left: 5px;
  }
}
@media screen and (min-width: 768px) {
  .uploadSubmit {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .uploadBtn {
    margin-bottom: 20px;
  }
  .submitBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .timeFinish {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
  }

  .countdown {
    display: flex;
    flex-basis: 54%;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    justify-content: flex-end;
  }

  .finishBtn {
    flex-basis: 46%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
