.activeTestContainer {
  z-index: 1;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  transition: 1s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.testCard {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90%;
}

mat-card-content {
  font-size: 16px;
  margin-top: 15px;
}

.centerHeading {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.userFormFields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.testBtn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mat-form-field {
  text-align: center;
}

.userForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.file-input {
  display: none;
}
.tabContent {
  margin-top: 15px;
}
.tabItem {
  margin-top: 30px;
}

.uploadSubmit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.uploadBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 864px) {
  .userForm {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .userFormFields {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 16;
  }

  .testBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .uploadSubmit {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .uploadBtn {
    margin-bottom: 20px;
  }
  .submitBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }
}
