<section class="userContainer">
  <div class="userHeading">
    <div class="adminHeading">Admin management</div>
    <button
      mat-raised-button
      class="newAdminBtn"
      (click)="openEditCreateAdmin()"
    >
      New Admin
    </button>
  </div>

  <alert></alert>

  <div class="userTable mat-elevation-z8">
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    <table mat-table matSort matTableResponsive [dataSource]="dataSource">
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element" data-label="userName">
          {{ element.userName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" data-label="email">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
        <td mat-cell *matCellDef="let element" data-label="firstname">
          {{ element.firstname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
        <td mat-cell *matCellDef="let element" data-label="lastname">
          {{ element.lastname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" data-label="actions">
          <button
            mat-icon-button
            matTooltip="Edit"
            [matTooltipPosition]="'above'"
            (click)="openEditCreateAdmin(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Delete"
            [matTooltipPosition]="'above'"
            (click)="openDeleteModal(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
</section>
