<section class="userContainer">
  <div class="userHeading">
    <div class="adminHeading">Tests management</div>
    <button mat-raised-button class="newAdminBtn" routerLink="/tests/newTest">
      Create Test
      <mat-icon inline="true">add</mat-icon>
    </button>
  </div>

  <alert></alert>

  <div class="userTable mat-elevation-z8">
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    <table mat-table matSort matTableResponsive [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Test name</th>
        <td mat-cell *matCellDef="let element" data-label="name">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="validFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid From</th>
        <td mat-cell *matCellDef="let element" data-label="validFrom">
          {{ element.validFrom }}
        </td>
      </ng-container>

      <ng-container matColumnDef="validTo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid To</th>
        <td mat-cell *matCellDef="let element" data-label="validTo">
          {{ element.validTo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="testlink">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TestlinkId</th>
        <td mat-cell *matCellDef="let element" data-label="testlink">
          {{ element.urlLinkId.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" data-label="actions">
          <button
            mat-icon-button
            matTooltip="Click for test details"
            [matTooltipPosition]="'left'"
            (click)="openTestInfo(element.id)"
          >
            <mat-icon>info</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Click to edit"
            (click)="editTest(element.id)"
            [matTooltipPosition]="'left'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Click to delete"
            [matTooltipPosition]="'right'"
            (click)="openDeleteModal(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
</section>
