<nav class="navBar" color="primary" *ngIf="currentUser">
  <div class="menuBar" (click)="openEvent()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links" [ngClass]="status ? 'open' : ''">
    <li>
      <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/prices">Prices</a>
    </li>
    <li>
      <a mat-button routerLink="/start-page">Start page</a>
    </li>
    <li>
      <a mat-button routerLink="/offer">Offer</a>
    </li>
    <li>
      <a mat-button routerLink="/contact">Contact</a>
    </li>
    <li>
      <a mat-button (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
