<nav class="navBar" #navBar *ngIf="currentUser">
  <div class="menuBar" (click)="toggleCollapse()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links" [ngClass]="{ open: isOpen }">
    <li>
      <a routerLink="/" (click)="toggleCollapse()" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a (click)="toggleCollapse()" routerLink="admin">Admin</a>
    </li>
    <li>
      <a (click)="toggleCollapse()" routerLink="tests">Tests</a>
    </li>
    <li>
      <a (click)="toggleCollapse()" routerLink="/offer">Results</a>
    </li>
    <li>
      <a (click)="toggleCollapse()" routerLink="/contact">Questions</a>
    </li>
    <li>
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
