<nav class="navBar" #navBar *ngIf="currentUser">
  <div class="menuBar" (click)="toggleCollapse()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links" [ngClass]="{ open: isOpen }">
    <li>
      <a routerLink="/" (click)="close()" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a (click)="close()" routerLink="/admin">Admin</a>
    </li>
    <li>
      <a (click)="close()" routerLink="/tests">Tests</a>
    </li>
    <li>
      <a (click)="close()" routerLink="/results">Results</a>
    </li>
    <li>
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
