<section class="testContainer">
  <div class="newTestHeading">
    <div class="testHeading">Test creation</div>
    <button mat-raised-button class="backnBtn" routerLink="/tests">
      Back to Tests
    </button>
  </div>

  <form
    [formGroup]="testForm"
    class="testForm mat-elevation-z2"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Enter Test Name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          required
        />
        <mat-error *ngIf="f['name'].errors?.required"
          >Test name is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="testInput">
      <mat-form-field>
        <textarea
          type="text"
          placeholder="Enter Test Description."
          matInput
          formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          required
        >
        </textarea>
        <mat-hint
          >Fill all info about the test, as this description will be displayed
          before the person starts the test.</mat-hint
        >
        <mat-error *ngIf="f['description'].errors?.required"
          >Test description is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="testInput">
      <mat-form-field>
        <mat-select
          placeholder="Select Test Type"
          matInput
          formControlName="enumSelect"
          [ngClass]="{ 'is-invalid': submitted && f.enumSelect.errors }"
          required
        >
          <mat-option
            *ngFor="let enum of TestEnum | keyvalue"
            [value]="enum.key"
          >
            {{ enum.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f['enumSelect'].errors?.required"
          >Test Type is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="testInput">
      <mat-form-field>
        <input
          matInput
          formControlName="dateFrom"
          [ngxMatDatetimePicker]="picker"
          [min]="minDate"
          placeholder="Choose the test starting date and time"
          [ngClass]="{ 'is-invalid': submitted && f.dateFrom.errors }"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
          <!-- Custom icon or text of Apply icon -->
          <ng-template>
            <!-- <mat-icon>star</mat-icon> -->
            <span>OK</span>
          </ng-template>
        </ngx-mat-datetime-picker>
        <mat-error *ngIf="f['dateFrom'].errors?.required"
          >Test starting date & time is required</mat-error
        >
        <mat-hint>
          Starting date must be later than now & can't be later than Ending
          date.</mat-hint
        >
      </mat-form-field>
    </div>

    <div class="testInput">
      <mat-form-field>
        <input
          matInput
          formControlName="dateTo"
          [min]="minDate"
          [ngxMatDatetimePicker]="picker2"
          placeholder="Choose the test ending date and time"
          [ngClass]="{ 'is-invalid': submitted && f.dateTo.errors }"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker2)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2>
          <!-- Custom icon or text of Apply icon -->
          <ng-template>
            <!-- <mat-icon>star</mat-icon> -->
            <span>OK</span>
          </ng-template>
        </ngx-mat-datetime-picker>
        <mat-error *ngIf="f['dateTo'].errors?.required"
          >Test ending date & time required</mat-error
        >
        <mat-error *ngIf="f.dateTo.errors?.ValidTime"
          >Test ending date & time must be later than starting date.</mat-error
        >
        <mat-hint>
          Ending date must be later than now & must be later than Starting
          date.</mat-hint
        >
      </mat-form-field>
    </div>

    <div class="timeLimitHeading">
      <div class="centerHeading">Enter time limit to complete the test*</div>
    </div>
    <mat-divider></mat-divider>
    <div class="testInput timeLimitInputHeadings">
      <div class="HoursLabel">Hours</div>
      <div class="MinutesLabel">Minutes</div>
    </div>
    <div class="timeLimitInput">
      <div class="timeInput">
        <div class="inputContainer">
          <input
            class="numberInput"
            type="number"
            min="0"
            max="48"
            [ngClass]="{ 'is-invalid': submitted && f.hourInput.errors }"
            formControlName="hourInput"
            #hourInput
          />
        </div>

        <div class="btnContainer">
          <button
            type="button"
            class="plusBtn btnbtn"
            (mousedown)="continuousIncrease('hours')"
            (mouseup)="clear()"
            (mouseleave)="clearleave()"
            #hoursIncrementBtn
          >
            <mat-icon class="btnIcon">add</mat-icon>
          </button>
          <button
            type="button"
            class="minusBtn btnbtn"
            (mousedown)="continuousDecrease('hours')"
            (mouseup)="clear()"
            (mouseleave)="clearleave()"
            #hoursDecrementBtn
          >
            <mat-icon class="btnIcon">remove</mat-icon>
          </button>
        </div>
      </div>

      <div class="doubleDot">:</div>

      <div appearance="outline" class="timeInput">
        <div class="inputContainer">
          <input
            class="numberInput"
            type="number"
            min="0"
            max="59"
            [ngClass]="{ 'is-invalid': submitted && f.minutesInput.errors }"
            formControlName="minutesInput"
            #minutesInput
          />
        </div>

        <div class="btnContainer">
          <button
            type="button"
            class="plusBtn btnbtn"
            (mousedown)="continuousIncrease('minutes')"
            (mouseup)="clear()"
            (mouseleave)="clearleave()"
            #minutesIncrementBtn
          >
            <mat-icon class="btnIcon">add</mat-icon>
          </button>
          <button
            type="button"
            class="minusBtn btnbtn"
            (mousedown)="continuousDecrease('minutes')"
            (mouseup)="clear()"
            (mouseleave)="clearleave()"
            #minutesDecrementBtn
          >
            <mat-icon class="btnIcon">remove</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="timeLimitInputErrors">
      <mat-error *ngIf="f['hourInput'].errors?.required"
        >Hours are required.</mat-error
      >
      <mat-error *ngIf="f['hourInput'].errors?.min"
        >Number can't be less than 0.</mat-error
      >
      <mat-error *ngIf="f['hourInput'].errors?.max"
        >Number too big. Maximum hours is 48.</mat-error
      >
      <mat-error *ngIf="f['minutesInput'].errors?.required"
        >Minutes are required.</mat-error
      >
      <mat-error *ngIf="f['minutesInput'].errors?.min"
        >Minutes can't be less than 0.</mat-error
      >
      <mat-error *ngIf="f['minutesInput'].errors?.max"
        >Number too big. Maximum minutes is 59.</mat-error
      >
    </div>

    <div class="testInput" formArrayName="questions">
      <div *ngFor="let questionForm of Questions.controls; let i = index">
        <mat-card class="questionCard mat-elevation-z4" [formGroupName]="i">
          <mat-card-title>Question {{ i + 1 }}</mat-card-title>
          <div>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Enter Question Name"
                formControlName="questionName"
                [ngClass]="{ 'is-invalid': submitted && g.questionName.errors }"
                required
              />
              <mat-error *ngIf="g.questionName.errors?.required"
                >Question name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="testInput">
            <mat-form-field>
              <textarea
                type="text"
                placeholder="Enter Question Description."
                matInput
                formControlName="questionDescription"
                [ngClass]="{
                  'is-invalid': submitted && g.questionDescription.errors
                }"
                required
              >
              </textarea>
              <mat-hint
                >Fill all information about the question, as this description
                will be displayed for a person when he holds the test.</mat-hint
              >
              <mat-error *ngIf="g['questionDescription'].errors?.required"
                >Question description is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="testInput">
            <mat-form-field>
              <mat-select
                placeholder="Select Question Type"
                matInput
                formControlName="questionType"
                [ngClass]="{ 'is-invalid': submitted && g.questionType.errors }"
                required
              >
                <mat-option
                  *ngFor="let enum of QuestionEnum | keyvalue"
                  [value]="enum.key"
                >
                  {{ enum.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="g['questionType'].errors?.required"
                >Test Type is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="testInput">
            <div class="testInput wopHeading">Worth of Points</div>
            <div class="timeLimitInput">
              <div class="timeInput">
                <div class="inputContainer">
                  <input
                    class="numberInput"
                    type="number"
                    min="1"
                    max="100"
                    [ngClass]="{
                      'is-invalid':
                        submitted && g['worthOfPoints'].errors?.required
                    }"
                    formControlName="worthOfPoints"
                    #pointsInput
                  />
                </div>

                <div class="btnContainer">
                  <button
                    type="button"
                    class="plusBtn btnbtn"
                    (mousedown)="continuousIncrease('points', i)"
                    (mouseup)="clear()"
                    (mouseleave)="clearleave()"
                    #pointsIncrementBtn
                  >
                    <mat-icon class="btnIcon">add</mat-icon>
                  </button>
                  <button
                    type="button"
                    class="minusBtn btnbtn"
                    (mousedown)="continuousDecrease('points', i)"
                    (mouseup)="clear()"
                    (mouseleave)="clearleave()"
                    #pointsDecrementBtn
                  >
                    <mat-icon class="btnIcon">remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="wopErrors">
              <mat-error *ngIf="g['worthOfPoints'].errors?.required"
                >Enter the number how many points the questions is
                worth.</mat-error
              >
              <mat-error *ngIf="g['worthOfPoints'].errors?.min"
                >The number can't be less than 0.</mat-error
              >
              <mat-error *ngIf="g['worthOfPoints'].errors?.max"
                >Number too big. Maximum worth is 100.</mat-error
              >
            </div>
          </div>
          <div class="deleteQuestionDiv">
            <button
              mat-raised-button
              class="newAdminBtn"
              (click)="removeQuestion(i)"
            >
              Remove Question {{ i + 1 }}
              <mat-icon inline="true">delete_forever</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
      <button type="button" (click)="addQuestion()">
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
    </div>

    <button type="submit" [disabled]="!testForm.valid">submit</button>
  </form>
</section>
