.testContainer {
  z-index: 1;
  width: 90%;
  margin: auto;
  transition: 1s all ease;
}

.newTestHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.testHeading {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px 0px rgba(125, 125, 125, 0.42);
}

.backnBtn {
  color: #ffffff;
  background-color: #2f2e41;
  align-items: center;
}
.testForm {
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.411);
  border-radius: 5px;
}

.testInput {
  margin-top: 15px;
}
.mat-form-field {
  width: 100%;
}

.timeLimitHeading {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.centerHeading {
  text-align: center;
  color: grey;
}
.timeLimitInput {
  display: flex;
  justify-content: center;
}
.timeLimitInputHeadings {
  width: 155px;
  display: flex;
  margin: auto;
}
.timeLimitInputHeadings .HoursLabel {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 7px;
}
.timeLimitInputHeadings .MinutesLabel {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: 62px;
}
.doubleDot {
  margin: 0 10px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-self: center;
}

.timeInput {
  justify-content: center;
  width: 80px;
  align-items: center;
  display: flex;
}
.timeInput > div {
  display: inline-block;
}

.inputContainer {
  height: 36px;
}

.numberInput {
  width: 28px;
  height: 30px;
  border: 2px solid #616161;
  border-right: 0;
  border-radius: 10px 0% 0% 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(214, 202, 202, 0.411);
}

.numberInput:focus {
  outline: none;
  border: 2px solid#1565C0;
  border-right: 0;
}

.numberInput.ng-invalid {
  border: 2px solid #f44336;
  border-right: 0;
}

.btnContainer {
  height: 36px;
}

.btnContainer .btnbtn {
  border: 2px solid #2f2e41;
  display: block;
  cursor: pointer;
  height: 18px;
  background-color: #2f2e41;
}

.minusBtn {
  border-radius: 0% 0% 10px 0%;
}
.plusBtn {
  border-radius: 0% 10px 0% 0%;
}

.btnContainer .btnbtn:hover {
  background-color: #1565c0;
}

.btnContainer .btnbtn:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.timeLimitInputErrors {
  display: flex;
  justify-content: center;
}
.timeLimitInputErrors > mat-error {
  margin-right: 5px;
}

.questionCard {
  margin-top: 30px;
}

.newAdminBtn {
  color: #ffffff;
  background-color: #2f2e41;
  align-items: center;
}

button.mat-raised-button .mat-icon,
a.mat-raised-button .mat-icon {
  vertical-align: top;
  font-size: 1.5em;
}
.deleteQuestionDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.wopHeading {
  display: flex;
  justify-content: center;
  text-align: center;
}
.wopErrors {
  display: flex;
  justify-content: center;
}
